.skill h1{
    justify-content: center;
    display: flex;
}


.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(55px,1fr));
    margin:15px;
    gap: 25px;
    justify-content: center;
}

.skills p{
    text-align: center;
    font-size: 10px;
}

