.container{
   font-size: 40px;
   
   text-decoration: none;
   position: relative;
   

}

.nav-item{
    margin: 4px;
    text-decoration: none;
    
}

.navbar-nav{
    text-decoration: none;
}

.nav-link{
    color: black;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: flex-end;
    }
  }